main.main3_content
    .main3_content__img
        .img1
            img(src=require('./img/image1.png'))
        .img2
            img(src=require('./img/image2.png'))
        .img3
            img(src=require('./img/image3.png'))
    .main3_content__main-part
        .room-information
            .title
                h3 Свединия о номере
            .information
                .comfort
                    img(src=require('./img/insert_emoticon.png'))
                    h3 Комфорт
                    p Шумопоглощающие стены
                .convenience
                    img(src=require('./img/location_city.png'))
                    h3 Удобство
                    p Окна в каждой из спален
                .cosiness
                    img(src=require('./img/whatshot.png'))
                    h3 Уют
                    p  Номер оснащен камином
        .room-impressions
        .room-reservation
        .visitor-reviews
        .rules
        .cancel