main.main2
    include sidebar/sidebar
    .main2__content
        .number_1
            a(href="#")
                img(src=require('./img/image1.png'))
        .number_2
            a(href="#")
                img(src=require('./img/image2.png'))
        .number_3
            a(href="#")
                img(src=require('./img/image3.png'))
        .number_4
            a(href="#")
                img(src=require('./img/image4.png'))
        .number_5
            a(href="#")
                img(src=require('./img/image5.png'))
        .number_6
            a(href="#")
                img(src=require('./img/image6.png'))
        .number_7
            a(href="#")
                img(src=require('./img/image7.png'))
        .number_8
            a(href="#")
                img(src=require('./img/image8.png'))
        .number_9
            a(href="#")
                img(src=require('./img/image9.png'))
        .number_10
            a(href="#")
                img(src=require('./img/image10.png'))
        .number_11
            a(href="#")
                img(src=require('./img/image11.png'))
        .number_12
            a(href="#")
                img(src=require('./img/image12.png'))
